@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-normal {
    font-family: "Urbanist_400Regular";
  }

  .font-medium {
    font-family: "Urbanist_500Medium";
  }

  .font-semibold {
    font-family: "Urbanist_600SemiBold";
  }

  .font-bold {
    font-family: "Urbanist_700Bold";
  }
}
@layer base {
  * {
    font-family: 'Urbanist_400Regular';
  }
}


* {
  font-family: 'Urbanist_400Regular';
}